﻿<div data-ng-controller="shell as vm">
    <div id="splash-page" data-ng-show="vm.showSplash"
        class="dissolve-animation">
		<div class="page-splash">
			<div class="page-splash-message">
				Game Management
			</div>
			<div class="progress progress-striped active page-progress-bar">
				<div class="bar"></div>
			</div>
		</div>
	</div>
	<header class="clearfix">
		<div data-ng-include="'/app/layout/topnav.html'"></div>
	</header>
	<section id="content" class="content">
		<div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
			<div data-cc-spinner="vm.spinnerOptions"></div>
			<div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
		</div>

		<div data-ng-include="'/app/layout/sidebar.html'"></div>

		<div data-ng-view class="shuffle-animation"></div>
	</section>
</div>
