﻿<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!-- Site name for smallar screens -->
            <a href="/" class="brand"><span class="brand-title">Game Management</span></a>

            <!-- Navigation starts -->
            <div class="nav-collapse collapse">

                <div class="pull-right navbar-logo">
                    <ul class="nav pull-right">
                        <li>
                            <a href="http://www.johnpapa.net" target="_blank">
                                Created by John Papa
                            </a>
                        </li>
                        <li>
                            <a href="http://www.breezejs.com" target="_blank">
                                <img src="../../Content/images/breezelogo.png" />
                            </a>
                        </li>
                        <li class="dropdown dropdown-big">
                            <a href="http://www.angularjs.org" target="_blank">
                                <img src="../../Content/images/AngularJS-small.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>