﻿<section class="mainbar" data-ng-controller="detailSheet as vm">
    <section class="matter">
        <div class="container-fluid">

            <div class="row-fluid">



                <div class="widget wgreen">
                    <div data-cc-widget-header title="Event Details">
                    </div>
                    <div class="widget-content">


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group form-inline">
                                    <p class="bg-danger" style="padding:7px !important; margin-bottom: 10px !important"><span class="h5 text-danger"><i class="fa fa-warning fa-lg"></i> Sync all iPads that were used at an event before viewing that event's detail sheet</span></p>
                                    <select id="events" class="form-control"
                                            name="event"
                                            ng-change="vm.onSelectEvent()"
                                            ng-model="vm.selectedEvent"
                                            ng-options="item as item.id + ' &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ' + item.event_name for item in vm.events">
                                        <option value="" disabled>Select an event</option>
                                    </select>

                                    <button type="button" class="btn btn-primary" ng-click="vm.onViewClick()" ng-disabled="vm.selectedEvent == undefined">View Detail Sheet</button>
                                </div>
                            </div>
                        </div><!-- /row -->


                        <div class="row">

                            <div class="col-xs-12">
                                <h4 class="dissolve-fix dissolve-animation"
                                    ng-show="vm.selectedEvent.id && vm.detailSheet">
                                    {{vm.selectedEvent.id}} - {{vm.selectedEvent.event_name}} - {{vm.selectedEvent.timeUtc | date: 'short'}}
                                </h4>

                                <div class="dissolve-fix dissolve-animation"
                                     ng-show="vm.selectedEvent.id && vm.detailSheet">
                                    <ul class="list-inline" ng-show="vm.selectedEvent.id && vm.eventTotals">
                                        <li><strong>Total staff:</strong> {{ vm.detailSheet.length }}</li>
                                        <li><strong>Total gross:</strong> {{ vm.eventTotals.gross | currency }}</li>
                                        <li><strong>Total hours:</strong> {{ vm.eventTotals.hours }}</li>
                                    </ul>
                                    <p><strong>Count of positions:</strong></p>
                                    <ul>
                                        <li ng-repeat="item in vm.eventTotals.positions | orderBy : 'name' "><strong>{{ item.name }}: </strong> {{ item.count }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>




                <div class="widget wlightblue" ng-show="vm.reassignments">
                    <div data-cc-widget-header title="Changes in Assignments">
                    </div>
                    <div class="widget-content">

                        <div class="row">

                            <div class="col-xs-12">
                                <ul class="list-inline">
                                    <li><strong>Difference in total hours:</strong> {{vm.hoursDifference | number: 2}}</li>
                                    <li><strong>Difference in total gross:</strong> {{vm.grossDifference | currency}}</li>
                                </ul>
                            </div>

                            <div class="col-md-7" ng-show="vm.reassignments">
                                <h6>New Assignment</h6>
                                <table class="table table-striped dissolve-fix dissolve-animation">
                                    <tr>
                                        <th>AssignId</th>
                                        <th>Last</th>
                                        <th>First</th>
                                        <th>Title</th>
                                        <th>Position</th>
                                        <th>Hours</th>
                                        <th>Gross</th>
                                    </tr>
                                    <tr ng-repeat="item in vm.reassignments">
                                        <td>{{item.id}}</td>
                                        <td>{{item.lname}}</td>
                                        <td>{{item.fname}}</td>
                                        <td>{{item.title}}</td>
                                        <td>{{item.position}}</td>
                                        <td>{{item.hours | number: 2}}</td>
                                        <td>{{item.gross | number: 2 }}</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-5" ng-show="vm.oldAssignments">
                                <h6>Old Assignment</h6>
                                <table class="table table-striped dissolve-fix dissolve-animation">
                                    <tr>
                                        <th>Title</th>
                                        <th>Position</th>
                                        <th>Hours</th>
                                        <th>Gross</th>
                                        <th>AssignId</th>
                                    </tr>
                                    <tr ng-repeat="item in vm.oldAssignments">
                                        <td>{{item.titleId}}</td>
                                        <td>{{item.position}}</td>
                                        <td>{{item.hours | number: 2}}</td>
                                        <td>{{item.gross | number: 2 }}</td>
                                        <td>{{item.assignId}}</td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>





                <div class="widget wblue" ng-show="vm.detailSheet">
                    <div data-cc-widget-header title="{{vm.title}}">
                    </div>
                    <div class="widget-content">

                        <div class="row">

                            <div class="col-xs-12">
                                <table class="table table-striped dissolve-fix dissolve-animation">
                                    <tr>
                                        <th>Last</th>
                                        <th>First</th>
                                        <th>Position</th>
                                        <th>Call</th>
                                        <th>Out</th>
                                        <th>Hours</th>
                                        <th>Rate</th>
                                        <th>Gross</th>
                                        <th>Signature In</th>
                                        <th>In Time</th>
                                        <th>Signature Out</th>
                                        <th>Out Time</th>
                                    </tr>
                                    <tr ng-repeat="item in vm.detailSheet">
                                        <td>{{item.lname}}</td>
                                        <td>{{item.fname}}</td>
                                        <td>{{item.position}}</td>
                                        <td>{{item.timeIn | date: 'shortTime' }}</td>
                                        <td>{{item.timeOut | date: 'shortTime' }}</td>
                                        <td>{{item.hours | number: 2}}</td>
                                        <td>{{item.regular | number: 2}}</td>
                                        <td>{{item.gross | number: 2 }}</td>
                                        <td><img ng-show="item.signIn" ng-src="{{item.signIn}}" style="max-width:120px" /></td>
                                        <td>{{item.signInTime | date: 'shortTime'}}</td>
                                        <td><img ng-show="item.signOut" ng-src="{{item.signOut}}" style="max-width:120px" /></td>
                                        <td>{{item.signOutTime | date: 'shortTime'}}</td>
                                    </tr>
                                </table>
                            </div>



                        </div><!-- /row -->

                    </div>
                </div>



            </div>
 
        </div>

    </section>
</section>
