﻿<ion-view view-title="Event Staff">
    <ion-content has-bouncing="true" class="has-header">

        <ion-list>
            <ion-item class="item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="vm.search.$" />
                <i class="icon ion-close-circled assertive padding-right" ng-click="vm.onClearSearch()" ng-show="vm.search.$"></i>
            </ion-item>
            <ion-item ng-repeat="item in vm.detailSheet | orderBy: 'doc.lname' | filter: vm.search " ng-click="vm.onEmployeeClick(item)">
                <i class="icon ion-checkmark-circled" ng-show="item.doc.signIn"></i> <i class="icon ion-checkmark-circled" ng-show="item.doc.signOut"></i> {{ item.doc.lname }}, {{ item.doc.fname }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>