﻿<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Reassign Staff</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="list">
            <div class="item item-divider">
                {{vm.selectedStaff.doc.fname }} {{vm.selectedStaff.doc.lname}}
            </div>

            <div class="item">Title: {{vm.selectedStaff.doc.title}}</div>
            <div class="item">Position: {{vm.selectedStaff.doc.position}}</div>

            <div class="item item-divider">Change to:</div>

            <label class="item item-input item-select">
                <span class="input-label">
                    Title
                </span>
                <select ng-model="vm.newTitle"
                        ng-options="item.doc.title_ID as item.doc.title_ID for item in vm.defaultTitles">
                    <option disabled value="">Select</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <span class="input-label">
                    Position
                </span>
                <select ng-model="vm.newPosition"
                        ng-options="item.doc.position1 as item.doc.position1 for item in vm.positions |orderBy: 'doc.position1' ">
                    <option disabled value="">Select</option>
                </select>
            </label>

            <div class="item">
                <button class="button button-small button-stable" ng-click="vm.closeModal()">Cancel</button>
                <button class="button button-small button-positive" ng-click="vm.updateStaff()">Save</button>
            </div>
        </div>


    </ion-content>
</ion-modal-view>