﻿<ion-view view-title="Verify Information">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-back"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-bouncing="false" class="has-header">
        <div class="list card">

            <div class="item text-center">
                <strong>{{ vm.selectedEmployee.doc.event_name }}</strong><br />

                {{ vm.selectedEmployee.doc.event_Date | date: 'fullDate' }}<br /><br />

                <strong>{{ vm.selectedEmployee.doc.fname }} {{ vm.selectedEmployee.doc.lname }}</strong> <br />
                {{ vm.selectedEmployee.doc.position }}<br /><br />

                <strong>Time In:</strong> {{ vm.selectedEmployee.timeInFormatted | date: 'shortTime' }}<br />
                <strong>Time Out:</strong> {{ vm.selectedEmployee.timeOutFormatted | date: 'shortTime' }}<br />
                <strong>Hours:</strong> {{ vm.selectedEmployee.doc.hours | number: 2 }}
            </div>



        </div>

        <div class="list card">
            <h4 class="padding">Do you want to:</h4>

            <ion-list>
                <ion-radio ng-model="vm.clockInOrOut" ng-value="1" ng-disabled="vm.selectedEmployee.doc.signIn">Clock In <span ng-show="vm.selectedEmployee.doc.signIn">- Already clocked in</span></ion-radio>
                <ion-radio ng-model="vm.clockInOrOut" ng-value="2" ng-disabled="vm.selectedEmployee.doc.signOut">Clock Out <span ng-show="vm.selectedEmployee.doc.signOut">- Already clocked out</span></ion-radio>
            </ion-list>
        </div>

        <div class="list card" ng-show="vm.clockInOrOut == 1">
            <div class="item text-center">
                <h3>Sign to Clock In</h3>
                <canvas id='signInCanvas' width='300' height='180' style='border: 1px solid #bbb; margin: 10px 0;'></canvas>
                <div class='button-bar'>
                    <a class='button button-stable' ng-click='vm.clearSignIn()'>Clear</a>
                    <a class='button button-calm' ng-click='vm.saveSignIn()'>Submit</a>
                </div>
                <br>
                <img ng-src='{{ vm.employee.signIn }}' />
            </div>
        </div>

        <div class="list card" ng-show="vm.clockInOrOut == 2">
            <div class="item text-center">
                <h3>Sign to Clock Out</h3>
                <canvas id='signOutCanvas' width='300' height='180' style='border: 1px solid #bbb; margin: 10px 0;'></canvas>
                <div class='button-bar'>
                    <a class='button button-stable' ng-click='vm.clearSignOut()'>Clear</a>
                    <a class='button button-calm' ng-click='vm.saveSignOut()'>Submit</a>
                </div>
                <br>
                <img ng-src='{{ vm.employee.signIn }}' />
            </div>
        </div>


    </ion-content>
</ion-view>