﻿
.pointer {
    cursor: pointer;
}


/*Theme Overrides*/
* {
    font-family: 'Open Sans';
}

body {
    color: #333;
}

.btn {
    border-radius: 3px !important;
    margin: 0;
}

p {
    line-height: normal;
}

.radio-inline.radio-fix input[type=radio] {
    margin: 4px 0 0 -20px !important;
}

select.form-control, input.form-control {
    display: block;
    width: 100%;
}

table.padding-small tr td {
    padding: 4px 5px;
}

.uib-day button.btn-default {
    border: 0;
    margin: 0;
}

/*Utility*/
.m-b-20 {
    margin-bottom: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.form-control.has-error {
    border: 1px solid #dd3333 !important;
}


/*#region Angular ng-show dissolve animation */
.dissolve-fix.dissolve-animation.ng-hide-add {
    transition: none;
}
.dissolve-animation.ng-hide-remove {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}
/*#endregion */

/* UI-Select styles */
.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}

/* toastr customizations*/
#toast-container > div {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    margin-bottom: 10px;
}

#toast-container.toast-top-center > div {
    margin: 10px auto;
}